/* Body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Container Class*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Login Box Class*/
.login-box {
  text-align: center;

  /*Sets size of box*/
  width: 500px;
  height: 400px;
  max-width: 80%;
  min-width: 800px;

  /*Creates rounded edges*/
  border-radius: 5px;

  /*Creates box shadows*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*Sign In Header Text*/
.login-box h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}

/*Input Boxes*/
.login-box input {
    /*Size of input box*/
    width: 40%;
    height: 70px;

    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    /*Makes boxes into underlines instead*/
    border: none;
    border-bottom: 1px solid #000000;
}

/*Login Button*/
.login-box button {
    display: block;
    text-align: center;

    border: none;
    background-color: #1390de;
    color: white;

    margin: 20px auto;
    padding: 14px 80px;
    border-radius: 24px;
}

.login-box button:hover {
    transition: .5s;
    cursor: pointer;
    background-color:rgb(185, 248, 160);
    color:#c06767;
}


