/* Body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: linear-gradient(to bottom right, #015c93, #2d83b6, #53a6d8, #89ccf7, #bee6ff);
}

/*Container Class*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Login Box Class*/
.login-box {
  text-align: center;

  /*Sets size of box*/
  width: 500px;
  height: 400px;
  max-width: 80%;
  min-width: 800px;

  /*Creates rounded edges*/
  border-radius: 5px;
  
  /*Sets box's background color to white so that it's not gradient*/
  background-color: white;

  /*Creates box shadows*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/*Sign In Header Text*/
.login-box h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}

/*Input Boxes*/
.login-box input {
    /*Size of input box*/
    width: 40%;
    height: 70px;

    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: medium;

    /*Makes boxes into underlines instead*/
    border: none;
    border-bottom: 1px solid #c4c4c4;
}

/*Login Button*/
.login-box button {
    display: block;
    text-align: center;

    border: none;
    background-color: #1390de;
    color: white;

    margin: 20px auto;
    padding: 14px 18%;
    border-radius: 24px;
}

.login-box button:hover {
    transition: .7s;
    cursor: pointer;
    background-color: #bee6ff;
    color:#015c93;
}


